@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  background: #0b0d15;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  position: absolute;
  border: 2px solid rgb(34, 29, 29);
  padding: 50px;
  box-shadow: 0px 0px 110px rgb(0, 178, 223);
  height: auto;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

h1 {
  font-family: Poppins;
  color: rgb(0, 178, 223);
  align-self: center;
  text-align: center;
}
form {
  display: inline-flex;
  gap: 10px;
}
#main_text {
  all: unset;
  background-color: rgb(82, 80, 80);
  border-radius: 5px;
  caret-color: rgb(0, 178, 223);
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  color: white;
  padding: 10px;
  max-width: 100%;
}
#button {
  all: unset;
  background-color: rgb(0, 178, 223);
  border-radius: 5px;
  font-size: large;
  font-weight: bold;
  font-family: Poppins;
  color: white;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
#button:hover {
  background-color: rgb(2, 142, 177);
}
#button:active {
  transform: translateY(2px);
}
.res {
  padding: 10px;
  margin: 20px 0px;
  border: 2px solid rgb(58, 58, 58);
  color: white;
  font-size: large;
  text-align: start;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
.text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
}
.delete1 {
  all: unset;
  font-size: x-large;
  padding: 10px;
  font-weight: bolder;
  font-family: Arial;
  transition: all 0.3s ease-in-out;
}
.svg-button svg {
  scale: 1.4;
  transform: translateY(2px);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.svg-button svg:hover {
  fill: #ff0000;
}
.checked {
  all: unset;
  border: 2px solid rgb(0, 178, 223);
  border-radius: 50%;
  min-height: 20px;
  min-width: 20px;
  flex-shrink: 0;
  font-size: x-large;
  font-weight: bolder;
  font-family: Arial;
  transition: 0.2s;
  padding: 0 7px;
  background: #0b0d15;
  color: #0b0d15;
}

.checked2 {
  background-color: rgb(0, 178, 223);
  color: white;
}

.text,
.text2 {
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  color: white;
}
.text2 {
  color: grey;
  text-decoration: line-through;
  text-decoration-color: grey;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  user-select: none;
}
@media only screen and (max-width: 500px) {
  .container {
    width: 90vw;
  }
  form {
    display: block;
  }
  #main_text {
    width: 100%;
  }
  #button {
    width: 105%;
    display: inline;
    text-align: center;
    margin: 20px auto;
  }
  .res {
    width: auto;
    overflow-x: auto;
    text-overflow: clip;
  }
}
